.btn__burger{
    width: 16px;
    height: 16px;
    position: relative;

   
    &::before,&::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $primary;
        transition: all .5s;
    }
    &::before{
        top: 9px;
    }
    &::after{
        bottom: 9px;
    }
    &.open{
        &::before{
            top: 50%;
            transform: rotate(-45deg);
        }
        &::after{
            top: 50%;
            transform: rotate(45deg);
        }
    }

}

.green-oval{
    background-image: url(../images/green-oval.png);
    background-size: auto;
    background-position: center 6px;
    background-repeat: no-repeat;
    padding-bottom:140px ;
    margin-bottom: 20px;
    @include d-phone {
        background-size: 68%;
    }
  
}

.black-oval{
    background-image: url(../images/black-oval.png);
    background-size: auto;
    background-position: center 78px;
    background-repeat: no-repeat;
    @include d-phone {
        background-size: 68%;
    }
}
.star{
    &__1{
        right: 13%;
        top: -20px;
    }
    &__2{
        left: 24px;
        bottom: 24px;
    }
    &__3{
        top: -46px;
    }
    &__4{
        bottom: -50px;
    }
}

.rectangle__phone{
    background-image: url('../images/Rectangle-phone.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.shadow-block{
    position: relative;
    &::before{
        position: absolute;
        content: "“動畫技能樹太雜無從下手？”";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        color: white;
        font-size: 52px;
        text-align: center;
        font-family: 'genSen-H';
        padding: 24px;
    }
    
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 20px;
        width: 100%;
        height: 100%;
        background: rgb(219, 17, 17);
    }
}
.question{
    &__1{
        transform: rotate(-4.49deg);
    }
    &__2{
        transform: rotate(8.58deg);
    }
    &__3{
        transform: rotate(32.45deg);
        padding-top: 10px;
    }
}