
  body {
    margin: 0;
    padding: 0;
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fd89b9;
  }

  .container1 {
    position: relative;
    margin-bottom: -100px;
    width: 50%;
    height: 30%;
    background-color: #fff;
    border: 1px solid #000;
  }

  .box1 {
    width: 100px;
    height: 100px;
    background-color: #165e83;
  }

  .section2 {
    display: flex;
    justify-content: center;
    padding: 200px 0;
    background-color: #fd89b9;
    // background-color: #1e2a60;
  }