@font-face {
    font-family: 'genSen-H';
    src: url('./font-GenSen/GenSenRoundedTW-H-01.woff')format("woff");
}
@font-face {
    font-family: 'genSen-M';
    src: url('./font-GenSen/GenSenRounded-M.woff')format("woff");
}

.font-genSen-h{
    font-family: 'genSen-H';
}
.font-genSen-m{
    font-family: 'genSen-M';
}

.font-georama{
    font-family: 'Georama', sans-serif;
}

.title-stroke{
    color:transparent;
    -webkit-text-stroke: 1px $primary;
}

.text-outline{
    color:transparent;
    -webkit-text-stroke: 2px $darker;
    transition: all .8s;
    letter-spacing: 1px;
}
.text-outline-light{
    color:transparent;
    -webkit-text-stroke-color: $light;
}